@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bg-color: #536493;
  --primary-color: #FFF1DB;
  --secundary-color: #88C273;
  --font: Josefin Sans;
}
